img{
   display: block;
   margin: auto;
   padding-top: 20px;
   cursor: pointer;
  transition: 0.3s;
}
.details{  
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.imgContainer{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 